
@{
    ViewBag.Title = "About";
}

<h3 align="center">Why RecTrackIt???</h3>

<div class="container">
    <div class="row" align="center">
        <br/><br/>
        <p>Thousands of Nuget package requests everyday...</p>
        <p>Handled by a single Nuget package manager...</p>
        <p>Huge confusion and complexity in handling the requests...</p>
        <p>Need a place to track the requests...</p>
        <p>
            ReqTrackIt does that for us and more by offering a virtual place to both the users and the Nuget package manager to keep track of all the Nuget package requests. Allows to submit the new requests and view the old requests. Avoids confusions among the team and elevates the performance of the team.
        </p>
    </div>

</div>

